@font-face {
  font-family: 'GloberBold';
  src: url('../fonts/globber/glober_bold-webfont.eot');
  src: url('../fonts/globber/glober_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/globber/glober_bold-webfont.woff2') format('woff2'), url('../fonts/globber/glober_bold-webfont.woff') format('woff'), url('../fonts/globber/glober_bold-webfont.ttf') format('truetype'), url('../fonts/globber/glober_bold-webfont.svg#globerbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GloberRegular';
  src: url('../fonts/globber/glober_regular-webfont.eot');
  src: url('../fonts/globber/glober_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/globber/glober_regular-webfont.woff2') format('woff2'), url('../fonts/globber/glober_regular-webfont.woff') format('woff'), url('../fonts/globber/glober_regular-webfont.ttf') format('truetype'), url('../fonts/globber/glober_regular-webfont.svg#globerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GloberSemibold';
  src: url('../fonts/globber/glober_semibold-webfont.eot');
  src: url('../fonts/globber/glober_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/globber/glober_semibold-webfont.woff2') format('woff2'), url('../fonts/globber/glober_semibold-webfont.woff') format('woff'), url('../fonts/globber/glober_semibold-webfont.ttf') format('truetype'), url('../fonts/globber/glober_semibold-webfont.svg#globersemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GloberBook';
  src: url('../fonts/globber/fontfabric_-_globerbook-webfont.eot');
  src: url('../fonts/globber/fontfabric_-_globerbook-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/globber/fontfabric_-_globerbook-webfont.woff2') format('woff2'), url('../fonts/globber/fontfabric_-_globerbook-webfont.woff') format('woff'), url('../fonts/globber/fontfabric_-_globerbook-webfont.ttf') format('truetype'), url('../fonts/globber/fontfabric_-_globerbook-webfont.svg#globerbook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas/BebasNeueRegular.woff') format('woff'), url('../fonts/bebas/BebasNeueRegular.ttf') format('truetype'), url('../fonts/bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  src: url('../fonts/bebas/BebasNeueRegular.eot');
}
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/bebas/BebasNeueBold.eot');
  src: url('../fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas/BebasNeueBold.woff') format('woff'), url('../fonts/bebas/BebasNeueBold.ttf') format('truetype'), url('../fonts/bebas/BebasNeueBold.svg#BebasNeueBold') format('svg');
}

/* html,
body {
  scroll-behavior: smooth;
} */

h2 {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "BebasNeueBold", sans-serif;
}

.marked-text {
  font-size: 22px;
  line-height: 27px;
  font-family: "GloberSemibold", sans-serif;
}

p {
  font-size: 18px;
  line-height: 21px;
  font-family: "GloberRegular", sans-serif;
}

ol {
  font-size: 18px;
  line-height: 35px;
  padding: 0;
  list-style-position: inside;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  padding-left: 2em;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 1em;
  font-family: "GloberRegular", sans-serif;
}

ul li::before {
  content: "\25CF";
  color: #f45753;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: -2em;
}

.background-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  background-color: #1E263A;
  color: #fff;
  font-family: "BebasNeueRegular", sans-serif;
}

.header div:nth-child(even) {
  background-color: #2F344F;
}

.header p {
  padding: 20px 10px 18px;
  font-size: 16px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.hero-block {
  background-image: url('../img/jpg/Hero-block-img_mobile.jpg');
  height: auto;
  background-size: cover;
  background-position: center 0;
  overflow: hidden;
  padding-top: 75%;
}

.hero-block__description,
.hero-block__description * {
  position: relative;
  z-index: 40;
}

.hero-block__description img {
  height: 26px;
}

.hero-block__bg-img {
  width: 150%;
  height: 150% !important;
  position: absolute;
  top: -40%;
  left: -10%;
  z-index: 30;
}

.hero-block__title {
  font-size: 160px;
  line-height: 0.8;
  letter-spacing: 11.97px;
  color: #F45753;
  font-family: "BebasNeueBold", sans-serif;
  text-shadow: 0 5px 0 #C93C39;
  overflow: hidden;
}

.hero-block__title span {
  font-weight: 600;
  display:inline-block;
  vertical-align: text-bottom;  
}

.hero-block__title span:nth-child(1) {
  text-shadow: 10px 5px 0 #C93C39;
}

.hero-block__title span:nth-child(3) {
  text-shadow: -10px 5px 0 #C93C39;
}

.hero-block__subtitle {
  font-size: 38px;
  letter-spacing: 6px;
}

.hero-block_color-text {
  color: #f45753;
  font-size: 16px;
  line-height: 18px;
  font-family: "BebasNeueBold", sans-serif;
  margin: 0 0 0 5px;
}

.hero-block__text {
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 4%;
}

.motivation-block-img {
  height: 820px;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#2F344F), to(transparent)), url('../img/jpg/Teamwork.jpg');
  background: linear-gradient(to top, #2F344F 0%, transparent 100%), url('../img/jpg/Teamwork_mobile.jpg');
  background-position: 0 0;
  background-size: cover;
  color: #fff;
}

.motivation-block-img .col-12 p:last-child {
  margin-bottom: 40px;
}

.motivation-block-white {
  background-color: #fff;
  position: relative;
}

.motivation-block__sert-container {
  overflow: hidden;
}

.motivation-block-white img {
  width: 100%;
  margin-left: 5%;
}

.motivation-block-white .become-member-button {
  margin-top: 28px;
  margin-bottom: 82px;
}

.round-block {
  background-color: #fff;
  position: relative;
}

.round-block__inner {
  margin: 0;
  padding: 0;
}

.round-block__inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 45px 0 0;
}

.round-block__inner ul li {
  padding-left: 2em;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 1em;
  font-family: "GloberRegular", sans-serif;
}

.round-block__inner ul li:last-child {
  margin-bottom: 45px;
}

.round-block__inner ul li::before {
  content: "\25CF"; 
  color: #f45753;
  font-weight: bold; 
  display: inline-block; 
  width: 2em; 
  margin-left: -2em; 
}

.become-member-button {
  display: inline-block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 80%;
  padding: 26px 10px 20px;
  background-color: #f45753;
  -webkit-box-shadow: 10px 10px 0 0 #c93c39;
          box-shadow: 10px 10px 0 0 #c93c39;
  margin-left: 10%;
  -webkit-transition: color 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, color 0.2s;
  transition: box-shadow 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  border: none;
}

.become-member-button:hover,
.become-member-button:active,
.become-member-button:visited {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  -webkit-box-shadow: 6px 6px 0 0 #7e1816;
          box-shadow: 6px 6px 0 0 #7e1816;
  -webkit-transition: color 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, color 0.2s;
  transition: box-shadow 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
}

.why-block {
  height: auto;
  background-position: 0 100%;
  background-color: #faf7f7;
}

.why-block__img {
  width: 100%;
  position: relative;
}

.why-block h2 {
  margin-top: 47px;
  margin-bottom: 30px;
}

.why-block__text {
  position: relative;
}

.why-block__text ol {
  position: absolute;
  bottom: -120px;
  z-index: 30;
}

.program-block {
  padding: 40px 0 43px;
}

.program-block h2 {
  margin-bottom: 30px;
}

.program-block img {
  margin-bottom: 30px;
  max-width: 100%;
}

.program-block p {
  margin-bottom: 40px;
  word-wrap: break-word;
}

.program-block__img {
  background: url("../img/jpg/Program-block_mobile.jpg");
  background-size: cover;
  background-position: 100% 100%;
  color: #fff;
  padding: 65px 40px;
  height: 637px;
  margin-top: 56px;
}

.program-block__img p {
  margin-bottom: 35px;
}

.program-block__img .become-member-button {
  margin-left: 0;
  width: 100%;
}

.for-block {
  background-color: #faf7f7;
  padding: 40px 0 45px;
}

.for-block h2 {
  margin-bottom: 35px;
}

.for-block img {
  max-width: 100%;
  margin-bottom: 50px;
}

.for-block p.marked-text {
  margin-bottom: 15px;
}

.for-block p:not(.marked-text) {
  margin-bottom: 60px;
}

.headliner-block {
  padding: 48px 0 50px;
}

.headliner-block h2 {
  position: relative;
  z-index: 40;
}

.headliner-block .video-lnk img {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  position: relative;
  z-index: 30;        
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.headliner-block .video-lnk .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 0;
  margin-bottom: 0;
}

.headliner-block .marked-text {
  margin-bottom: 20px;
}

.speakers {
  padding: 42px 0 52px;
  background-color: #faf7f7;
}

.speakers h2 {
  margin-bottom: 40px;
}

.speakers__tile {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
}

.speakers__tile:hover {
  cursor: pointer;
}

.speakers__tile .speaker__portrait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 40;
}

.speakers__background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 30;
}

.speakers__color-text {
  color: #f45753;
  margin-bottom: 50px;
}

.play-button,
.open-button,
.close-button {
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: #f45753;
  border-radius: 50%;
  outline: none;
  border: none;
  z-index: 40;
  -webkit-box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.25);
          box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.25);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.play-button:hover,
.open-button:hover,
.close-button:hover {
  background-color: #2f344f;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.35);
          box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.35);
}

.play-button img,
.open-button img,
.close-button img {
  width: 40%;
  height: 40%;
}

.play-button img {
  margin: 30% 25% 30% 35%;
}

.open-button img, 
.close-button img {
  margin: 30%;
}

.close-button img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.play-button {
  bottom: 20%;
  right: 2%;
}

.open-button,
.close-button {
  bottom: 6%;
  right: 13%;
}

.invite-form {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 65px 35px 60px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.25);
          box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.25);
  margin-bottom: 20px;
}

.invite-form label {
  display: block;
  font-family: "GloberBold", sans-serif;
  font-style: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}

.invite-form input[type="text"] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 4px 0px #0000001A;
          box-shadow: 0px 4px 0px #0000001A;
  border: 3px solid #31313112;
  border-radius: 10px;
  opacity: 1;
  height: 64px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color:#a3a3a3;
  padding: 25px 23.5px;
  outline: none;
  margin-bottom: 25px;
}

.invite-form input[type="submit"] {
  width: 100%;
  margin-left: 0;
  margin-top: 19px;
}

.invite-form p {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 18px;
}

::-webkit-input-placeholder {
  color:#a3a3a3;
}

:-ms-input-placeholder {
  color:#a3a3a3;
}

::-ms-input-placeholder {
  color:#a3a3a3;
}

::placeholder {
  color:#a3a3a3;
}

.hero-block_bottom {
  background: url('../img/jpg/Footer-img_mobile.jpg');
  padding-top: 66px;
  padding-bottom: 48px;
  background-position: 50% 100%;
}

.hero-block_bottom h2 {
  margin-bottom: 30px;
}

.hero-block_bottom .hero-block__bg-img {
  top: -15%;
  left: -25%;
}

.hero-block_bottom .hero-block__title {
  margin-left: 0;
}

.hero-block_bottom .hero-block__subtitle {
  margin-left: 0;
}

.hero-block_bottom .hero-block__text {
  padding: 0;
}

.hero-block_bottom .hero-block__text.text-white {
  margin-bottom: 15px;
}

.hero-block_bottom .invite-form {
  margin-top: 280px;
}

.bottom-color-block {
  color: #fff;
  background-color: #1e263a;
  padding: 14px;
  width: auto;
}

.bottom-color-block h3 {
  font-size: 27px;
  line-height: 32px;
  margin: 10px 0 0;
  font-family: "BebasNeueBold", sans-serif;
  text-transform: uppercase;
}

.bottom-color-block p {
  margin: 0;
}

.foooter {
  background-color: #faf7f7;
  padding: 32px 0 66px;
}

.foooter p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0.5rem;
}

.red-text {
  color: #f45753;
}

.hero-block img.arrow {
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: -5%;
  right: 80%;
  transform: rotate(90deg);
}

.hero-block_bottom img.arrow {
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: -5%;
  right: 80%;
  transform: rotate(90deg);
}

@media (min-width: 375px) {
  .program-block__img {
    height: 680px;
  }

  .hero-block__title {
    font-size: 180px;
  }

  .hero-block__subtitle {
    font-size: 46px;
    letter-spacing: 5.5px;
  }
}

@media (min-width: 460px) {
  .program-block__img {
    height: 680px;
  }

  .hero-block__title {
    font-size: 200px;
  }

  .hero-block__subtitle {
    font-size: 52px;
    letter-spacing: 5.5px;
  }

  .hero-block_color-text {
    font-size: 20px;
    line-height: 22px;
  }

  .hero-block__description img {
    height: 28px;
  }
}

@media (min-width: 567px) {
  .program-block__img {
    height: 700px;
  }

  .hero-block__title {
    font-size: 260px;
  }

  .hero-block__subtitle {
    font-size: 68px;
    letter-spacing: 5.5px;
  }

  .hero-block_color-text {
    font-size: 22px;
    line-height: 26px;
    margin-left: 18px;
  }

  .hero-block__description img {
    height: 36px;
  }

  .bottom-color-block {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 768px) {
  .hero-block {
    background-image: url('../img/jpg/Hero-block-img.jpg');
    height: 1036px;
    overflow: hidden;
    padding-top: 0;
  }

  .hero-block__title {
    font-size: 292px;
  }

  .hero-block__subtitle {
    font-size: 72px;
    letter-spacing: 8.5px;
  }

  .hero-block_color-text {
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;
  }

  .hero-block__description img {
    height: 38px;
  }

  .why-block__text ol {
    position: relative;
    bottom: 0;
  }

  .program-block__img {
    height: 830px;
    background: url("../img/jpg/Program-block_mobile.jpg");
    background-size: cover;
    background-position: 100% 100%;
  }

  .program-block__img .become-member-button {
    margin-left: 10%;
    width: 80%;
  }

  .hero-block_bottom {
    background: url('../img/jpg/Footer-img.jpg');
    height: auto;
    padding-top: 66px;
  }

  .bottom-color-block {
    width: 80%;
    margin-left: 10%;
  }

  .hero-block_bottom .invite-form {
    margin-top: 0;
  }

  .hero-block_bottom .hero-block__bg-img {
    top: -40%;
    left: -25%;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 2.1px;
  }

  .header p {
    padding: 23px 15px 20px;
    font-size: 18px;
  }  

  .hero-block_color-text {
    font-size: 26px;
    line-height: 32px;
    margin-left: 15px;
  }

  .hero-block__description img {
    height: 42px;
  }

  .hero-block__text {
    font-size: 24px;
    line-height: 29px;
    margin-top: 33px;
    margin-bottom: 20px;
  }

  .motivation-block-img {
    height: 700px;
    background: -webkit-gradient(linear, right top, left top, from(#2F344F), to(transparent)), url('../img/jpg/Teamwork.jpg');
    background: linear-gradient(to left, #2F344F 0%, transparent 100%), url('../img/jpg/Teamwork.jpg');
    background-position: center center;
  }

  .motivation-block-img .col-12 p:last-child {
    margin-bottom: 1rem;
  }

  .motivation-block-white .become-member-button {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    margin-top: 0;
    margin-bottom: 0;  
  }

  .motivation-block-white {
    height: 700px;
  }

  .motivation-block-white img {
    width: 100%;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); 
  }

  .round-block {
    height: 0;
    border-radius: 50%;
    -webkit-transform: translateY(-160px);
            transform: translateY(-160px);
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0.1);
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0.1);
    padding-top: 100%;
  }

  .round-block__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -38%);
            transform: translate(-50%, -38%);
    width: 60%;
  }

  .round-block__inner ul {
    margin-top: 20px;
  }

  .round-block__inner ul li:last-child {
    margin-bottom: 37px;
  }

  .motivation-block__sert-container {
    overflow: visible;
  }

  .why-block {
    height: 760px;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }

  .why-block__img {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
    z-index: 20;
  }

  .why-block__text {
    position: relative;
    z-index: 30;
  }

  .why-block h2 {
    margin-bottom: 35px;
  }

  .program-block {
    padding: 86px 0 80px;
  }

  .program-block h2 {
    margin-bottom: 70px;
  }

  .program-block img {
    margin-bottom: 60px;
  }
  
  .program-block__img {
    height: auto;
    background: url("../img/jpg/Program-block-img.jpg");
    background-size: cover;
    background-position: 100% 0;
    color: #fff;
    padding: 65px 40px;
    margin-top: 84px;
  }

  .program-block__img .become-member-button {
    margin-left: 0;
  }

  .for-block {
    padding: 80px 0 86px;
  }

  .for-block h2 {
    margin-bottom: 90px;
  }
  
  .for-block p:not(.marked-text) {
    margin-bottom: 0;
  }

  .headliner-block {
    padding: 75px 0 83px;
  }

  .headliner-block .video-lnk img {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    margin-top: 0;
    margin-bottom: 30px;
  }

  .headliner-block .marked-text {
    margin-bottom: 35px;
  }

  .speakers {
    padding: 80px 0 105px;
  }

  .speakers h2 {
    margin-bottom: 70px;
  }

  .speakers__tile {
    margin-bottom: 47px;
  }

  .speakers__color-text {
    margin-bottom: 70px;
  }

  .invite-form {
    margin-bottom: 0;
  }

  .hero-block_bottom {
    height: auto;
    padding-top: 66px;
  }

  .bottom-color-block {
    padding: 22px;
    width: 60%;
    margin-left: 20%;
  }

  .bottom-color-block h3 {
    font-size: 43px;
    line-height: 52px;
    margin-top: 18px;
  }

  .foooter {
    background-color: #faf7f7;
    padding: 64px 0 64px;
  }
  
  .foooter p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .round-block__inner {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .hero-block__text {
    margin-bottom: 0;
  }

  .motivation-block-white .become-member-button {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }

  .hero-block_bottom {
    height: 1036px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-block_bottom .hero-block__title {
    margin-left: -11.97px;
  }
  
  .hero-block_bottom .hero-block__subtitle {
    margin-left: -5.5px;
  }

  .bottom-color-block {
    width: 85%;
    margin-left: 0;
  }

  .hero-block img.arrow {
    width: 60%;
    height: 60%;
    position: absolute;
    bottom: -25%;
    right: -45%;
    transform: rotate(0);
  }
  
  .hero-block_bottom img.arrow {
    width: 60%;
    height: 60%;
    position: absolute;
    bottom: -25%;
    right: -45%;
    transform: rotate(0);
  }
}
